
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#DDDDDD;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.employee-section {
    margin-top: 20px;
}

.employee-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.employee-card {
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.nhanvien{
    padding: 3vh;
    padding-left: 6em;
    font-size: 20px;

}
.nhanvien img{
    width: 20vh;
    height: 20vh;
}
.nhanvien h2{
    text-decoration: none; 
}
.avatar-container {
    flex: 0 0 100px; /* Chỉnh kích thước avatar */
    margin-right: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.employee-info {
    flex: 1;
}

.employee-card h2 {
    font-size: 20px; /* Thu nhỏ kích thước tiêu đề */
    margin-bottom: 5px;
    text-decoration: none; 
    color: #000; 
}

.employee-card p {
    color: #000; 
    margin: 0;
}

.icons i {
    margin-right: 10px;
}

.icon {
    padding-top: 12em;
}

.icon a {
    display: inline-block;
    margin-left: 10px;
    color: #007bff;
}

.icon a:last-child {
    margin-right: 0;
}

.add-employee {
    background-color: #007bff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.add-employee h2 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

.add-employee a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}
